html {
    font-size: 16px;
}

p {
    margin: 0;
}

body {
    width: 992px;
    background-color: #000;
    color: lightgray;
    margin: 0 auto;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

a:hover {
    background-color: lightgray;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-between;
}

header .info > * {
    text-align: right;
}

header .info > .name {
    font-weight: bold;
    font-size: 1.25rem;
}

header .info > .reference {
    font-weight: bold;
    font-size: 1.25rem;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.ascii {
    font-size: 1rem;
    line-height: 1rem;
}


.clickable,
.clickable:link,
.clickable:visited,
.clickable:active {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.clickable:hover {
    background-color: lightgray;
    color: black;
}

.divider-top {
    border-top: 1px dashed white;
}

.divider-bottom {
    border-bottom: 1px dashed white;
}

.divider-right {
    border-right: 1px dashed white;
}

.divider-left {
    border-right: 1px dashed white;
}

.content > .tail {
    padding-top: 1rem;
    display: none;
}